# Build artefacts
/dist/
/out-tsc/
/coverage/
/tmp/
/e2e/test-output/
.angular/
.ng/

# Node modules
/node_modules/

# Environment
.env

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
